<div class="row justify-content-center">
    <div class="col-md-4 text-center">
        <img src="images/fahmy.jpg" class="rounded-circle img-thumbnail" width="200px" alt="Fahmy" srcset="" />
        <h1 class="display-4">Fahmy fauzi</h1>
        <p>Web Developer | Back End Developer</p>
    </div>
</div>